/* Navigation Wrapper Styles */

.navLinks__wrapper {
    height: var(--navbar-height);
    max-width: var(--navbar-max-width);
    width: 100%;
    overflow: hidden;
    transition: var(--transition-2);
}

.navLinks__wrapper.sideMenu__active {
    height: 100vh;
    background: rgba(0, 0, 0, 1);
}

/* Navigation List Style */

.navLinks__list {
    height: var(--navbar-height);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition-1);
}

.navLinks__list > li {
    display: inherit;
}

.navLinks__list li > a {
    font-size: var(--small-font);
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    height: 100%;
    cursor: pointer;
    transition: var(--transition-1);
}

.navLinks__list .apple-logo {
    background-size: 13px 16px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/apple_logo_white.svg");
    background-position: center center;
}

.navLinks__list .search-icon {
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/search.svg");
    background-position: center center;
}

.navLinks__list .bag-icon {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/nav_bag.svg");
    background-position: center center;
    position: relative;
    transition: var(--transition-1);
}

.navLinks__list .apple-logo span,
.navLinks__list .search-icon span,
.navLinks__list .bag-icon span {
    visibility: hidden;
}

.navLinks__wrapper hr {
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}

/* Active Side Menu Search Bar Styles */

.sideMenu__searchBar__wrapper {
    padding: 0px 15%;
    display: flex;
}

.sideMenu__searchBar__wrapper > div {
    width: 100%;
}

.sideMenu__searchBar__wrapper button {
    width: 45px;
    font-size: 16px;
    background: inherit;
    color: blue;
    cursor: pointer;
    transition: var(--transition-1);
}

/* Active Side Menu Styles */

.sideMenu__list {
    padding: 0px 15%;
    height: calc(100% - var(--navbar-height) - var(--navbar-height));
    overflow-y: auto;
}

/* Ask me why I commented and delete the below part during the interview. */

/* .sideMenu__list::-webkit-scrollbar {
    width: 0 !important;
} */

.sideMenu__list .quickLinks__title {
    display: block;
    width: 100%;
    font-size: var(--semi-medium-font);
    text-align: left;
    color: rgb(190, 190, 190);
    margin: 1rem 0 1rem 0;
    cursor: default;
}

.sideMenu__list.quickLinks__wrapper {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.sideMenu__list.quickLinks__wrapper li {
    margin-bottom: 0.6rem;
    display: flex;
    align-items: center;
}

.sideMenu__list.quickLinks__wrapper li > a {
    font-size: var(--semi-medium-font);
    font-weight: 500;
    text-align: left;
    line-height: 2rem;
    opacity: 0.8;
    width: 100%;
    cursor: pointer;
    transition: var(--transition-1);
}

.sideMenu__list.quickLinks__wrapper li > a:hover {
    color: blue;
}

.sideMenu__list > li {
    margin-top: 1rem;
    padding-bottom: 0.9rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
}

.sideMenu__list > li:last-of-type {
    border: none;
}

.sideMenu__list li > a {
    font-size: var(--medium-font);
    font-weight: 200;
    text-align: left;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: var(--transition-1);
}

.navLinks__list > li > a:hover,
.sideMenu__list li > a:hover {
    opacity: 1;
}

/* Hamburger Icon Styles */

.hamburger .line {
    width: 16px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
}

/* Search Bar Wrapper */

.searchBar__wrapper {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    padding: 0 15%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 1;
    transition: var(--transition-1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Quick Links Styles */

.searchBar__wrapper .quickLinks__wrapper {
    padding: 0 10px 1.5rem;
    width: 100%;
    background: white;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.searchBar__wrapper .quickLinks__wrapper .quickLinks__title {
    display: block;
    width: 100%;
    font-size: var(--semi-medium-font);
    text-align: left;
    color: rgb(190, 190, 190);
    margin: 1rem 0 1rem 2.3rem;
    cursor: default;
}

.searchBar__wrapper .quickLinks__wrapper li {
    margin-bottom: 0.6rem;
    display: flex;
    align-items: center;
}

.searchBar__wrapper .quickLinks__wrapper li > a {
    font-size: var(--semi-medium-font);
    font-weight: 500;
    text-align: left;
    line-height: 2rem;
    color: rgb(0, 0, 0);
    padding-left: 4rem;
    opacity: 0.8;
    width: 100%;
    cursor: pointer;
    transition: var(--transition-1);
}

.searchBar__wrapper .quickLinks__wrapper li > a:hover {
    background: rgba(239, 235, 235, 0.7);
    color: blue;
}
